[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target
#CPUQuota - ограничение по использованию CPU
#CPUWeight - устанавливает вес процесса в планировщике задач
[Service]
Type=forking
PIDFile=/run/nginx.pid
ExecStartPre=/usr/sbin/nginx -t -q -g 'daemon on; master_process on;'
ExecStart=/usr/sbin/nginx -g 'daemon on; master_process on;'
ExecReload=/usr/sbin/nginx -g 'daemon on; master_process on;' -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
CPUQuota=20%
CPUWeight=10

[Install]
WantedBy=multi-user.target
